a {
  color: black; }

p {
  background: black; }

header {
  color: black;
  font-family: verdana; }

h1 {
  background-color: white;
  font-family: Helvetica; }

header {
  color: black;
  font-family: verdana; }

h1 {
  background: white;
  font-family: Helvetica; }
